*{
    font-family: 'Open sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* navbar */ 

#navbar{
    overflow: hidden;
    background-color: rgb(255, 12, 206);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.mobileMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 93vh;
    width: 100%;
    position: absolute;
    background-color: #767676c1;
    top: 8.5%;
    transition: all .4s ease-in-out;
}

.mobileMenu.active{
    position: relative;
    opacity: .5;
    top: 0;
    display: none;
}

.mobileMenu a{
    color: rgb(0, 0, 0);
    z-index: 1;
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 50px;
    padding: 5px;
    text-decoration: none;
}

/* navbar links */

#navbar a{
    float: right;
    display: flex;
    color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
}

/* page content */

.content{
    padding: 16px;
}

/* The sticky class is added to the navbar with JAVASCRIPT when 
it reaches its scroll position 
*/

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement 
(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content{
    padding-top: 60px;
}


/* navbar logo */

.navbarLogo{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    font-size: 30px;
    cursor: pointer;
}


/* banner image */ 

.bannerImage{
    width: 100%;
    background-color: rgb(248, 174, 255);
    color: #000;
}

.bannerImage img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .8;
}

/* intro text */

.introText1{
    position: relative;
    top: 500px;
    width: 100%;
    padding: 20px;
}

   /* intro text */

   .introText1{
    position: relative;
    top: -31rem;
    width: 100%;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-align: center;
}

.introText1 h1{
    font-family: 'Marck Script', cursive;
    font-size: 2rem;
    letter-spacing: 4px;
}

.introText2{
    position: relative;
    top: -15rem;
    text-align: center;
    letter-spacing: 2px;
}

.introText2 button{
    padding: 15px;
    letter-spacing: 2px;
    font-size: 25px;
    border-radius: 50px;
    border: none;
    background-color: pink;
}

/* about */

#about{
    display: flex;
    flex-direction: column;
}

.aboutPicContainer{
    background: url('./IMG_3388.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 50%;
}

.aboutTextContainer h4{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding: 10px 5px;
    border-bottom: 2px solid rgb(255, 54, 88);
    width: 50%;
    margin: 0 auto;
}

.aboutTextContainer p{
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.aboutTextContainer h1{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding: 10px;
    text-align: left;
    margin-top: 7%;
}



  /* gallery */

  #gallery{
      width: 100%;
      height: 130vh;
  }

  .image{
      margin: 10px;
  }

  .galleryTextContainer{
      margin-top: 30%;
  }

  .galleryTextContainer h1{
      font-size: 2rem;
      letter-spacing: .5rem;
      padding: 10px;
      border-bottom: 2px solid rgba(255, 89, 117, 0.864);
      width: 70%;
      margin: 0 auto;
  }

  .galleryContainer{
      padding: 1rem;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  .galleryImg1{
      background: url('./galleryImg1.JPG');
      background-size: cover;
      background-position: center;
      height: 12rem;
      width: 8rem;
      background-repeat: no-repeat;
  }

  .galleryImg2{
    background: url('./galleryImg2.jpg');
    background-size: cover;
    background-position: center;
    height: 12rem;
    width: 8rem;
    background-repeat: no-repeat;
}

.galleryImg3{
    background: url('./galleryImg3.JPG');
    background-size: cover;
    background-position: center;
    height: 12rem;
    width: 8rem;
    background-repeat: no-repeat;
}

.galleryImg4{
    background: url('./galleryImg4.JPG');
    background-size: cover;
    background-position: center;
    height: 12rem;
    width: 8rem;
    background-repeat: no-repeat;
}

.galleryImg5{
    background: url('./galleryImg5.JPG');
    background-size: cover;
    background-position: center;
    height: 12rem;
    width: 8rem;
    background-repeat: no-repeat;
}

.galleryImg6{
    background: url('./galleryImg6.JPG');
    background-size: cover;
    background-position: center;
    height: 12rem;
    width: 8rem;
    background-repeat: no-repeat;
}

/* testimonials */ 

#testimonials{
    height: 220vh;
    width: 100%;
    margin-top: 30%;
    padding: 15px;
}

.clientReviewsContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.client1{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.client2{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.client3{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.client1img{
    background: url('./client1.jpeg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.client2img{
    background: url('./client2.jpeg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.client3img{
    background: url('./client3.jpeg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.clientReviewText h1{
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}


.clientReviewsContainer h4{
    padding: 10px;
    font-size: 1.5rem;
}

.clientReviewsContainer p{
    padding: 5px;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.clientReviewsContainer .starContainer{
    font-size: 1.5rem;
}

    /* pricing */

    #pricing{
        margin-top: 25%;
        height: 100vh;
        text-align: center;
    }

    .priceText h1{
        font-size: 2rem;
        letter-spacing: 2px;
        padding: 10px;
    }

    .service{
        margin: 50px 15px; 
        padding: 10px;
        -webkit-box-shadow: 0px -1px 21px 9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 21px 9px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 21px 9px rgba(0,0,0,0.75);
    }

    .service h3{
        padding: 10px;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .service h4{
        color: red;
        font-size: 1.5rem;
    }

    .service p{
        width: 50%;
        margin: 0 auto;
        letter-spacing: 2px;
        font-family: 1.3rem;
    }


/* ---- iPhone 5, 5S, 5C and 5SE ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    /* navbar */

    #navbar{
        width: 320px;
    }

    #menuBtn{
        color: #fff;
        font-size: 30px;
        padding: 10px;
    }

    .navbarLogo{
        font-size: 1.5rem;
        margin: 5px;
        display: flex;
    }

    #navbar a{
        font-size: 13px;
        letter-spacing: 1px;
        display: none;
    }

    /* banner image */

    .bannerImage{
        height: 100vh;
    }

    .bannerImage img{
        width: 320px;
        margin: 0 auto;
        object-fit: cover;
        opacity: 1;
    }


    /* intro text */

    .introText1{
        position: relative;
        top: -33rem;
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
        font-size: 1.5rem;
        text-align: center;
        color: #fff;
    }

    .introText1 h1{
        font-family: 'Marck Script', cursive;
        font-size: 2rem;
        letter-spacing: 4px;
    }

    .introText2{
        position: relative;
        top: -15rem;
        text-align: center;
        letter-spacing: 2px;
    }

    .introText2 button{
        padding: 15px;
        letter-spacing: 2px;
        font-size: 25px;
        border-radius: 50px;
        border: none;
        background-color: pink;
        position: relative;
        top: 60px;
    }

    /* about */

    #about{
        display: flex;
        flex-direction: column;
    }

    .aboutPicContainer{
        background: url('./IMG_3388.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 20rem;
        margin-top: 0;
    }

    .aboutTextContainer h4{
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 3px;
        padding: 10px 5px;
        border-bottom: 2px solid rgb(255, 54, 88);
        width: 50%;
        margin: 0 auto;
    }

    .aboutTextContainer p{
        padding: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .aboutTextContainer h1{
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 3px;
        padding: 10px;
        text-align: left;
        margin-top: 7%;
    }



      /* gallery */

      #gallery{
          width: 100%;
          height: 130vh;
      }

      .image{
          margin: 10px;
      }

      .galleryTextContainer{
          margin-top: 30%;
      }

      .galleryTextContainer h1{
          font-size: 2rem;
          letter-spacing: .5rem;
          padding: 10px;
          border-bottom: 2px solid rgba(255, 89, 117, 0.864);
          width: 70%;
          margin: 0 auto;
      }

      .galleryContainer{
          padding: 1rem;
          height: 100vh;
          display: grid;
          grid-template-columns: 1fr 1fr;
      }

      .galleryContainer button{
        margin: 0 auto;
        display: flex;
        text-align: center;
        padding: 8px;
        border: none;
        border-radius: 50px;
        background-color: rgb(194, 192, 192);
      }

      .galleryImg1{
          background: url('./galleryImg1.JPG');
          background-size: cover;
          background-position: center;
          height: 12rem;
          width: 8rem;
          background-repeat: no-repeat;
      }

      .galleryImg2{
        background: url('./galleryImg2.jpg');
        background-size: cover;
        background-position: center;
        height: 12rem;
        width: 8rem;
        background-repeat: no-repeat;
    }

    .galleryImg3{
        background: url('./galleryImg3.JPG');
        background-size: cover;
        background-position: center;
        height: 12rem;
        width: 8rem;
        background-repeat: no-repeat;
    }

    .galleryImg4{
        background: url('./galleryImg4.JPG');
        background-size: cover;
        background-position: center;
        height: 12rem;
        width: 8rem;
        background-repeat: no-repeat;
    }

    .galleryImg5{
        background: url('./galleryImg5.JPG');
        background-size: cover;
        background-position: center;
        height: 12rem;
        width: 8rem;
        background-repeat: no-repeat;
    }

    .galleryImg6{
        background: url('./galleryImg6.JPG');
        background-size: cover;
        background-position: center;
        height: 12rem;
        width: 8rem;
        background-repeat: no-repeat;
    }

    /* gallery modal */ 
    #myImg1{
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg1:hover {opacity: 0.7;}

    .modal{
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 180px;
        padding-left: 90px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    .modal-content{
        margin: 0 auto;
        display: block;
        width: 50%;
        max-width: 700px;
    }

    @keyframes zoom{
        from {transform:scale(0);}
        to {transform: scale(1);}
    }


    /* testimonials */ 

    #testimonials{
        height: 225vh;
        width: 100%;
        margin-top: 30%;
        padding: 15px;
    }

    .clientReviewsContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .client1{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }

    .client2{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }

    .client3{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }

    .client1img{
        background: url('./client1.jpeg');
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .client2img{
        background: url('./client2.jpeg');
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .client3img{
        background: url('./client3.jpeg');
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .clientReviewText h1{
        font-size: 2rem;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px;
    }


    .clientReviewsContainer h4{
        padding: 10px;
        font-size: 1.5rem;
    }

    .clientReviewsContainer p{
        padding: 5px;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    .clientReviewsContainer .starContainer{
        font-size: 1.5rem;
    }

    /* pricing */

    #pricing{
        margin-top: 25%;
        height: 165vh;
        text-align: center;
    }

    .priceText h1{
        font-size: 2rem;
        letter-spacing: 2px;
        padding: 10px;
    }

    .service{
        margin: 50px 15px; 
        padding: 10px;
        -webkit-box-shadow: 0px -1px 21px 9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 21px 9px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 21px 9px rgba(0,0,0,0.75);
    }

    .service h3{
        padding: 10px;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .service h4{
        color: red;
        font-size: 1.5rem;
    }

    .service p{
        width: 50%;
        margin: 0 auto;
        letter-spacing: 2px;
        font-family: 1.3rem;
    }

    /* contact */

    #contact{
        width: 100%;
        height: 80vh;
    }
    
    .contactText h1{
        text-align: center;
        margin: 10px;
        font-size: 40px;
        letter-spacing: 2px;
    }

    #contactForm{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }

    #contactForm input{
        padding: 5px;
        border: none;
        font-size: 1.5rem;
        border-bottom: 2px solid #000;
        margin: 10px;
    }

    #contactForm select{
        margin: 10px;
        font-size: 15px;
        padding: 5px;
    }

    #contactForm label{
        margin: 10px;
        font-size: 25px;
        padding: 5px;
    }

    #contactForm #reservationBtn{
        margin-top: 10px;
        width: 50%;
        margin: 0 auto;
        padding-top: 12px;
        padding: 10px;
        letter-spacing: 2px;
        font-size: 20px;
    }


}